.book-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.book-list {
    display: grid;
    max-width: 950px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 2rem;
    place-items: center;
    /* grid overflow */
    overflow: hidden;
    justify-content: center;
    padding: 1rem;
}

.book-list-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: calc(250px - 2rem);
    height: calc(350px - 2rem);
    transition: all 0.3s;
}

.book-list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.book-item-name {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
}

.book-item-author {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
