.auth-container {
    border: none;
    background-color: #e1e1e180;
    backdrop-filter: blur(10px);
    margin: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
}
.auth-container form {
    background-color: #e1e1e1;
    width: 30%;
    height: fit-content;
    min-height: 50%;
    padding: 2rem;
    border-radius: 5px;
    min-width: 350px;
}

fieldset {
    height: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 16px rgba(36, 36, 36, 0.1);
}
legend {
    font-size: 1.75rem;
    color: #242424;
}
.input-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
}

.input-grid input {
    height: 20px;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-grid button {
    width: 40%;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
